.light-card h3 {
  margin-bottom: 10px;
}

.light-card ul {
  margin: 0px;
  padding: 0px;
}

.light-card ul li.row {
  margin-bottom: 5px;
  background-color: #efefef;
  padding: 10px;
  display: block;
  border: 1px solid #efefef;
}